<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movies.title %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/poster.css">
    <link rel="stylesheet" href="/css/upcoming_headline.css">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/movie_card.css">
    <link rel="stylesheet" href="/css/textstyle.css">
    <link rel="stylesheet" href="/css/textfield.css">
    <link rel="stylesheet" href="/css/sign-in.css">
    <link rel="stylesheet" href="/css/sign-up.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
