<header class="header_textstyle">

    <div class="container">

        <div class="nav_list">
            <a href="/" class="nav_link">Home </a>
            <a href="/upcoming" class="nav_link">All Upcoming</a>
            <a href="/about" class="nav_link">About</a>
        </div>

        <div class="user_menu">
            <a href="/sign-in" class="nav_link">Sign in</a>
            <a href="/sign-up" class="nav_button">Create Account</a>
        </div>
    </div>
    
</header>