<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title: 'Home'}) %>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            height: 100vh;
            background: url('/image/Arrival-Error.jpg') center/cover no-repeat;
        }
    </style>
</head>
<body>
</body>
</html>
