<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title: 'Reset Password'}) %>
<body>

    <header>
        <%- include ('includes/navbar.ejs') %>
    </header>

    <div class="textstyle">
        Can't reset change Password cause you can't have one.
    </div>
</body>
</html>