<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title: 'Profile'}) %>
<body>

<div class="textstyle">
    <header>
        <%- include ('includes/navbar-sign-out.ejs') %>
    </header>

    <div class="profile_name_text">Oskar</div>

    <div class="profile_section_name">Settings</div>
    <div class="profile_divider_horizontal"></div>
    <div class="profile_settings_section">
        <div class="profile_personal_header">Your Name</div>
        <div class="profile_personal_info">Oskar</div>

        <div class="profile_personal_header">E-Mail Address</div>
        <div class="profile_personal_info">oskar.kuech@code.berlin</div>

        <div class="profile_personal_header">Password</div>
        <div class="profile_personal_info">thisshouldbehidden</div>
    </div>
    

    <div>

    
        <div class="profile_section_name">Bookmarks</div>
        <div class="profile_divider_horizontal"></div>

            <div class="profile_bookmarks_section">
                <div class="profile_saved">Upcoming Films</div>

                <div class="bookmarked_container">
                    <div class="bookmarked_poster">
                        <img src="https://image.tmdb.org/t/p/original/xjvsrvlDOohB7HAJineHz8rGrZR.jpg" alt="Poster Mean Girls (2024)">
                    </div>
                    <div>Mean Girls</div>
                    <div class="remove_button">x</div>
                </div>

                <div class="bookmarked_container">
                    <div class="bookmarked_poster">
                        <img src="https://image.tmdb.org/t/p/original/mFnF8tpPMqEwti2J2aMhYGZYdv0.jpg" alt="Poster Mean Girls (2024)">
                    </div>
                    <div>Dune: Part Two</div>
                    <div class="remove_button">x</div>
                </div>
            </div>

            <div class="profile_bookmarks_section">
                <div class="profile_saved">Past Releases</div>

                <div class="bookmarked_container">
                    <div class="bookmarked_poster">
                        <img src="https://image.tmdb.org/t/p/original/mBaXZ95R2OxueZhvQbcEWy2DqyO.jpg" alt="Poster The Ballde of Songbirds and Snakes">
                    </div>
                    <div>The Ballade of Songbirds and Snakes</div>
                </div>
            </div>
    </div>
</div>
</body>
</html>