<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title: 'Home'}) %>
<body>

    <header>
        <%- include ('includes/navbar-sign-in.ejs') %>
    </header>

    <div class="sign_in">
        <div class="textfield_textstyle">
            <input type="text" id="email" name="email" placeholder="EMAIL ADDRESS" size="25">
                <input type="text" id="password" name="password" placeholder="PASSWORD" size="25">
        </div>
        <div>
            <button type="button" class="nav_button" class="textstyle" onclick="alert('I dont know JavaScript yet, so the Button does not have a proper function yet...')">Sign in</button>
        </div>
        <a href="password-reset" class="nav_link">Forgot Password?</a>
    </div>
</div>
</body>
</html>