<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title: 'Home'}) %>
<body>

    <header>
        <%- include ('includes/navbar.ejs') %>
    </header>

    I don´t have any Conditions but please let me pass again :]
</body>
</html>