<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Anyone But You'}) %>
    <body>
    
        <header>
            <%- include ('../includes/navbar.ejs') %>
        </header>

         <main>
            <%- include ('../includes/movie-details.ejs', {
                title: 'Anyone But You', release_date: 'Jan 18th 2024 ', runtime: '1h 44m', director: 'Will Gluck', genre: 'Comedy, Romance', 
                poster: 'https://image.tmdb.org/t/p/original/yRt7MGBElkLQOYRvLTT1b3B1rcp.jpg', 
                description: 'Bea and Ben look like the perfect couple, but after an amazing first date something happens that turns their fiery hot attraction ice cold - until they find themselves unexpectedly thrust together at a destination wedding in Australia. So they do what any two mature adults would do: pretend to be a couple.'
            }) %>
        </main>
</body>
</html>