<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Argylle'}) %>
    <body>
    
        <header>
            <%- include ('../includes/navbar.ejs') %>
        </header>

         <main>
            <%- include ('../includes/movie-details.ejs', {
                title: 'Argylle', release_date: 'Feb 01st 2024 ', runtime: '2h 19mm', director: 'Matthew Vaugn', genre: 'Comedy, Action, Crime', 
                poster: 'https://image.tmdb.org/t/p/original/siduVKgOnABO4WH4lOwPQwaGwJp.jpg', 
                description: "When the plots of reclusive author Elly Conway's fictional espionage novels begin to mirror the covert actions of a real-life spy organization, quiet evenings at home become a thing of the past. Accompanied by her cat Alfie and Aiden, a cat-allergic spy, Elly races across the world to stay one step ahead of the killers as the line between Conway's fictional world and her real one begins to blur.",
            }) %>
        </main>
</body>
</html>