<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Autumn and the Black Jaguar'}) %>
    <body>
    
        <header>
            <%- include ('../includes/navbar.ejs') %>
        </header>

         <main>
            <%- include ('../includes/movie-details.ejs', {
                title: 'Autumn and the Black Jaguar', release_date: 'Feb 01st 2024', runtime: '1h 40m', director: 'Gilles de Maistre', genre: 'Adventure, Family', 
                poster: 'https://image.tmdb.org/t/p/original/8pX3N2ksOFFs4WlSj7q9dJW4Wvm.jpg',
                description: 'Grown up in the Amazon rainforest, Autumn lives with Hope, the cute baby jaguar she adopted. However, a circumstance forces Autumn to return to New York. Autumn goes back into the jungle to save Hope from grave danger.'
            }) %>
        </main>
</body>
</html>