<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Kung Fu Panda 4'}) %>
    <body>
    
        <header>
            <%- include ('../includes/navbar.ejs') %>
        </header>

         <main>
            <%- include ('../includes/movie-details.ejs', {
                title: 'Kung Fu Panda 4', release_date: 'Mar 14th 2024', runtime: '1h 34m', director: 'Mike Mitchell', genre: 'Action, Adventure, Animation, Comedy, Family', 
                poster: "https://image.tmdb.org/t/p/original/kDp1vUBnMpe8ak4rjgl3cLELqjU.jpg",
                description: "Po is gearing up to become the spiritual leader of his Valley of Peace, but also needs someone to take his place as Dragon Warrior. As such, he will train a new kung fu practitioner for the spot and will encounter a villain called the Chameleon who conjures villains from the past."
            }) %>
        </main>
</body>
</html>