<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Lisa Frankenstein'}) %>
    <body>
    
        <header>
            <%- include ('../includes/navbar.ejs') %>
        </header>

         <main>
            <%- include ('../includes/movie-details.ejs', {
                title: 'Lisa Frankenstein', release_date: 'Feb 22nd 2024', runtime: '1h 42m', director: 'Zelda Williams', genre: 'Comedy, Horror, Romance', 
                poster: "https://image.tmdb.org/t/p/original/mdPnNWU05ivcVp0rF2Dv9n5Maf4.jpg",
                description: 'In 1989, a misunderstood teenager has a high school crush — who just happens to be a handsome corpse! After a set of playfully horrific circumstances bring him back to life, the two embark on a murderous journey to find love, happiness…and a few missing body parts along the way.'
            }) %>
        </main>
</body>
</html>