<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Madame Web'}) %>
    <body>
    
        <header>
            <%- include ('../includes/navbar.ejs') %>
        </header>

         <main>
            <%- include ('../includes/movie-details.ejs', {
                title: 'Madame Web', release_date: 'Feb 14th 2024', runtime: '1h 56m', director: 'S.J. Clarkson', genre: 'Science Fiction, Action, Adventure', 
                poster: 'https://image.tmdb.org/t/p/original/rULWuutDcN5NvtiZi4FRPzRYWSh.jpg',
                description: 'Forced to confront revelations about her past, paramedic Cassandra Webb forges a relationship with three young women destined for powerful futures...if they can all survive a deadly present.'
            }) %>
        </main>
</body>
</html>