<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: "The Ballade of Songbirds and Snakes"}) %>
    <body>
    
        <header>
            <%- include ('../includes/navbar.ejs') %>
        </header>

         <main>
            <%- include ('../includes/movie-details.ejs', {
                title: "The Ballade of Songbirds and Snakes", release_date: 'Nov 16th 2023', runtime: '2h 37m', director: 'Francis Lawrence', genre: 'Science Fiction, Romance, Comedy', 
                poster: 'https://image.tmdb.org/t/p/original/mBaXZ95R2OxueZhvQbcEWy2DqyO.jpg',
                description: '64 years before he becomes the tyrannical president of Panem, Coriolanus Snow sees a chance for a change in fortunes when he mentors Lucy Gray Baird, the female tribute from District 12.'
            }) %>
        </main>
</body>
</html>