<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Wonka'}) %>
    <body>
    
        <header>
            <%- include ('../includes/navbar.ejs') %>
        </header>

         <main>
            <%- include ('../includes/movie-details.ejs', {
                title: 'Wonka', release_date: 'Dec 07th 2023', runtime: '1h 53m', director: 'Paul King', genre: 'Comedy, Family, Fantasy', 
                poster: 'https://image.tmdb.org/t/p/original/f9Ci5on44fIV1BMTOzzGrDf3P5C.jpg',
                description: 'Willy Wonka – chock-full of ideas and determined to change the world one delectable bite at a time – is proof that the best things in life begin with a dream, and if you’re lucky enough to meet Willy Wonka, anything is possible.'
            }) %>
        </main>
</body>
</html>